# Include the license file
include LICENSE.txt
include README.md
include pyproject.toml

# Include the data files
recursive-include src *
recursive-include tests *.py
recursive-include tests testdata.json
